<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery扁平对话框插件gDialog - 站长素材</title>
</head>

<body>
<div class="container">
    <h1>jQuery gDialog Plugin Exampels</h1>
    <button class="btn demo-1">Alert Dialog Box</button>
    <button class="btn demo-2">Prompt Dialog Box</button>
    <button class="btn demo-3">Prompt Dialog Box</button>
</div>
<script src="/confirm/jquery.js"></script>
<script src="/confirm/jquery.gDialog.js"></script>
<script>
    $('.demo-1').click(function(){
        $.gDialog.alert("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse libero erat, scelerisque sit amet dolor nec, euismod feugiat massa.", {
            title: "Alert Dialog Box",
            animateIn: "bounceIn",
            animateOut: "bounceOut",
            onSubmit:function(){
                alert('alert-ok');
            }
        });
    });
    $('.demo-2').click(function(){
        $.gDialog.prompt("站长素材", "", {
            title: "Prompt Dialog Box",
            required: true,
            animateIn : "rollIn",
            animateOut: "rollOut",
            onSubmit:function(){
                alert($("#prompt_input").val());
            }
        });
    });
    $('.demo-3').click(function(){
        $.gDialog.confirm("Are You Sure?", {
            title: "Confirm Dialog Box",
            animateIn : "bounceInDown",
            animateOut: "bounceOutUp",
            onSubmit:function(){
                alert('confirm-ok');
            }
        });
    });
</script>
</body>
</html>
