<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="browsermode" content="application">
    <title>在线充值</title>
    <link rel="stylesheet" href="/public/weui/weui.css">

</head>
<body>
<div class="container" id="container"><div class="msg">
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">充值成功</h2>
            <p class="weui_msg_desc">内容详情，可根据实际需要安排</p>
        </div>
        <br>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
            </p>
        </div>
        <div class="weui_extra_area">
            <a href="">查看详情</a>
        </div>
    </div>
</div></div>
<!-- 响应返回数据容器 -->
<script src="/public/plugin/jquery-2.1.3.min.js"></script>
</body>
</html>
